.rt-Spinner {
    display: block;
    position: relative;
    opacity: 0.65;
}
.rt-SpinnerLeaf {
    position: absolute;
    top: 0;
    left: calc(50% - 12.5% / 2);
    width: 12.5%;
    height: 100%;
    animation: rt-spinner-leaf-fade 800ms linear infinite;
}
.rt-SpinnerLeaf::before {
    content: '';
    display: block;
    width: 100%;
    height: 30%;
    border-radius: calc(3px * 1 * 1);
    background-color: currentColor;
}
.rt-SpinnerLeaf:where(:nth-child(1)) {
    transform: rotate(0deg);
    animation-delay: calc(-8 / 8 * 800ms);
}
.rt-SpinnerLeaf:where(:nth-child(2)) {
    transform: rotate(45deg);
    animation-delay: calc(-7 / 8 * 800ms);
}
.rt-SpinnerLeaf:where(:nth-child(3)) {
    transform: rotate(90deg);
    animation-delay: calc(-6 / 8 * 800ms);
}
.rt-SpinnerLeaf:where(:nth-child(4)) {
    transform: rotate(135deg);
    animation-delay: calc(-5 / 8 * 800ms);
}
.rt-SpinnerLeaf:where(:nth-child(5)) {
    transform: rotate(180deg);
    animation-delay: calc(-4 / 8 * 800ms);
}
.rt-SpinnerLeaf:where(:nth-child(6)) {
    transform: rotate(225deg);
    animation-delay: calc(-3 / 8 * 800ms);
}
.rt-SpinnerLeaf:where(:nth-child(7)) {
    transform: rotate(270deg);
    animation-delay: calc(-2 / 8 * 800ms);
}
.rt-SpinnerLeaf:where(:nth-child(8)) {
    transform: rotate(315deg);
    animation-delay: calc(-1 / 8 * 800ms);
}
@keyframes rt-spinner-leaf-fade {
    from {
        opacity: 1;
    }
    to {
        opacity: 0.25;
    }
}
.rt-Spinner:where(.rt-r-size-1) {
    width: calc(12px * 1);
    height: calc(12px * 1);
}
.rt-Spinner:where(.rt-r-size-2) {
    width: calc(16px * 1);
    height: calc(16px * 1);
}
.rt-Spinner:where(.rt-r-size-3) {
    width: calc(1.25 * calc(16px * 1));
    height: calc(1.25 * calc(16px * 1));
}
@media (min-width: 520px) {
    .rt-Spinner:where(.xs\:rt-r-size-1) {
        width: calc(12px * 1);
        height: calc(12px * 1);
    }
    .rt-Spinner:where(.xs\:rt-r-size-2) {
        width: calc(16px * 1);
        height: calc(16px * 1);
    }
    .rt-Spinner:where(.xs\:rt-r-size-3) {
        width: calc(1.25 * calc(16px * 1));
        height: calc(1.25 * calc(16px * 1));
    }
}
@media (min-width: 768px) {
    .rt-Spinner:where(.sm\:rt-r-size-1) {
        width: calc(12px * 1);
        height: calc(12px * 1);
    }
    .rt-Spinner:where(.sm\:rt-r-size-2) {
        width: calc(16px * 1);
        height: calc(16px * 1);
    }
    .rt-Spinner:where(.sm\:rt-r-size-3) {
        width: calc(1.25 * calc(16px * 1));
        height: calc(1.25 * calc(16px * 1));
    }
}
@media (min-width: 1024px) {
    .rt-Spinner:where(.md\:rt-r-size-1) {
        width: calc(12px * 1);
        height: calc(12px * 1);
    }
    .rt-Spinner:where(.md\:rt-r-size-2) {
        width: calc(16px * 1);
        height: calc(16px * 1);
    }
    .rt-Spinner:where(.md\:rt-r-size-3) {
        width: calc(1.25 * calc(16px * 1));
        height: calc(1.25 * calc(16px * 1));
    }
}
@media (min-width: 1280px) {
    .rt-Spinner:where(.lg\:rt-r-size-1) {
        width: calc(12px * 1);
        height: calc(12px * 1);
    }
    .rt-Spinner:where(.lg\:rt-r-size-2) {
        width: calc(16px * 1);
        height: calc(16px * 1);
    }
    .rt-Spinner:where(.lg\:rt-r-size-3) {
        width: calc(1.25 * calc(16px * 1));
        height: calc(1.25 * calc(16px * 1));
    }
}
@media (min-width: 1640px) {
    .rt-Spinner:where(.xl\:rt-r-size-1) {
        width: calc(12px * 1);
        height: calc(12px * 1);
    }
    .rt-Spinner:where(.xl\:rt-r-size-2) {
        width: calc(16px * 1);
        height: calc(16px * 1);
    }
    .rt-Spinner:where(.xl\:rt-r-size-3) {
        width: calc(1.25 * calc(16px * 1));
        height: calc(1.25 * calc(16px * 1));
    }
}